* {
  margin: 0;
  padding: 0;
}
.App {
  margin: 0 auto;
  width: 1400px;
  height: 100vh;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 400px;

  margin: 0 auto;
}
