* {
  margin: 0;
  padding: 0;
}
.App {
  margin: 0 auto;
  width: 1400px;
  height: 100vh;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 400px;

  margin: 0 auto;
}
.storyboard-container {
  display: flex;
  flex-direction: column;
}
.feeds {
  height: 400px;
  width: 400px;
}
.feed_board {
  margin: 20px auto;
}
.feed_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
.feed_header_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.feed_image {
  margin: 5px;
}
.media {
  width: 100%;
  height: 400px;
}
.feed_image img {
  object-fit: contain;
  width: 100%;
  height: 399px !important;
}

.feed_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.feed_icons_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.feed_header_left img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.feed_icons img {
  cursor: pointer;
}
.caption {
  font-size: 14px;
  line-height: 15px;
}
.feed_infos {
  margin: 5px 15px;
}
.likes {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.comments {
  color: #8a8a8a;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.time {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 11px;
  color: #8a8a8a;
  font-weight: 400;
}

.comment_section {
  display: flex;
  justify-content: space-between;
  margin: 4px 15px;
  align-items: center;
  border-top: 1px solid #8a8a8a;
  gap: 10px;
  padding-top: 10px;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40px;
  width: 350px;
}
.input input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  background-color: #efefef33;
  outline: none;
  border-radius: 5px;
}
.input input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999595;
}
.comment_section p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #b3dbff;
  text-transform: uppercase;
}

/*Storyboard section */

.story_board {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 125px;
  width: 400px;
  border-radius: 8px;
  position: relative;
  margin: 15px 0 15px 0;
  box-sizing: border-box;
  box-shadow: 0 0 2px grey;
}
.story_board::-webkit-scrollbar {
  display: none;
}

.scroll-arrow {
  position: sticky;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 30px;
  z-index: 10;
  /* background-color: rgb(172, 172, 240); */
}

.profile-item {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 8px;
  justify-content: center;
  padding: 7px 0 0 2px;
  gap: 5px;
}

.gradient-border {
  width: 65.21px;
  height: 65.21px;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        90deg,
        rgb(252, 196, 12),
        rgb(245, 45, 150),
        rgb(234, 72, 244),
        rgb(131, 1, 250)
      )
      border-box;
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 59.73px;
  height: 59.73px;
  padding: 2.5px;
  border-radius: 50%;
}

.profile-name {
  font-weight: 400px;
  font-size: 12px;
  text-align: center;
}

.nav-bar {
  height: 64px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  margin: 0 auto;
}
.nav_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav {
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px auto;
}
.nav_input {
  width: 278px;
  height: 36px;
  background-color: #efefef;
  border-radius: 7px;
}
.nav_input input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #efefef;
  border-radius: 7px;
  padding: 4px 10px;
}
.nav_input input::placeholder {
  color: #999595;
}

.profile-section {
  font-family: Arial, sans-serif;
  max-width: 350px;
  color: #262626;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile .username {
  font-size: larger;
}

.user-profile .switch {
  margin-left: auto;
  color: #0095f6;
  font-weight: bold;
  text-decoration: none;
}

.suggestions {
  margin-top: 1px;
}

.suggestions .header {
  display: flex;
  justify-content: space-between;
}

.suggestions .see-all {
  color: #0095f6;
  font-weight: bold;
  text-decoration: none;
}

.suggestions .suggestion-item {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.suggestions .suggestion-item .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.suggestions .suggestion-item .username {
  font-size: medium;
}

.suggestions .suggestion-item .followers {
  font-size: 12px;
  color: #8e8e8e;
}

.suggestions .follow-button {
  margin-left: auto;
  background-color: transparent;
  color: #0095f6;
  border: none;
  border-radius: 4px;
  font-size: medium;
  font-weight: 550;
  padding: 5px 10px;
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  color: #8e8e8e;
  text-align: center;
}

.footer p {
  margin: 5px 0;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover; /* Ensures the image fits within the circle */
}

.header {
  justify-content: space-around;
  margin: 0 5px;
  align-items: center;
  padding: 5px 0;
  display: none;
  gap: 20px;
}
.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 90%;
  display: none;
  border-radius: 10px 10px 0px 0;
  background-color: #efefef;
}
.footer_section {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .App {
    width: 100vw;
    padding: 10px;
  }
  .nav-bar {
    display: none;
  }
  .profile-section {
    display: none;
  }
  .footer {
    display: block;
  }
  .feeds {
    width: 100vw;
  }
  .header {
    display: flex;
  }
  .story_board {
    width: 330px;
  }
  .story_left img {
    top: 84px;
  }
  .feeds {
    width: 320px;
    margin-top: 70px;
  }
  .body {
    margin-left: -10px;
  }
  .loading {
    display: none;
  }
}
